<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @post.content %>
</p>
<span style="background-color: black; padding:5px">
<%= link_to 'Edit', edit_post_path(@post) %> </span>
<span style="background-color: black; padding:5px">
<%= link_to 'Back', posts_path %>
</span>
